body {
    margin: 0;
    text-align: center;
    font-family: Arial, sans-serif;
}

.logo-container img {
    width: 450px;
    margin: 30px auto 20px;
    display: block;
}

.nav-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-bottom: 40px;
}

.nav-buttons button {
    justify-self: center;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
